*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
    justify-content: center;
}

header ul li {
    list-style: none;
    margin: 20px;
}

/* Styles pour la barre de navigation */
nav {
    display: flex;
    align-items: center;
}

/* Styles pour les boutons */
.btn {
    background-color: #6aacf3;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    margin-right: 20px;
    border-radius: 50px;
    transition: 0.5s;
}
.btn:hover{
    background-color: #3f91d2;
    transition: 0.5s;
}

/* Style pour le logo */
.logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
}

/* Style pour les boutons "Pour toi" et "Accueil" */
.middle-buttons {
    flex-grow: 1; /* Les boutons prennent l'espace disponible */
    display: flex;
    justify-content: center;
    align-items: center;


}

.middle-buttons .btn-menu {
    margin: 0 10px; /* Espacement entre les boutons */
    text-decoration: none;
    color: #ffffff;
    position: relative;
    position: relative;


}

