/* Formulaire Contact */

body {
    height: 100vh;
    background: #151515FF;
}

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

header {
    font-size: 25px;

}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1em;

}

a:hover {
    color: #1c61b5;
}

.navbar {
    margin: 10px;
    padding: 10px;
    font-size: 1.5em;
}

.logo {
    position:absolute;
    width: 100px;
    cursor: pointer;
    right: 30px;

}

/*---DropMenu---*/

.dropmenu {
    display: none;
    position: absolute;
    left: 50px;
    width: 350px;
    height: 0;
    background: #ffffff;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropmenu.open {
    height: 500px;
}

.dropmenu li {
    padding: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.navbar .toggle_btn {
    display: block;
}

.dropmenu {
    display: block;
}

.toggle_back {
    display: block;
}



@media screen and (max-width: 1499px){
    form, section, h1 {
        width: 100%;
    }
}


@media (max-width: 1229px){
    .dropmenu, .navbar .toggle_btn {
        display: none;
    }
}

@media (max-width: 564px) {
    .navbar .logo {
        width:60px ;
    }
}




/*---Contact---*/

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    position: relative;
    width: 450px;
    border: 2px solid black;
    padding: 30px;
    background: #fff;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(70, 70, 70, 0.35) 0px 8px 15px;
    border: none;

}


h1 {

    text-align: center;
    margin-bottom: 30px;
    color: #fff;
    font-size: 40px;


}


input {
    display: block;
    width: 95%;
    padding: 12px;
    margin: 5px auto;
    align-items: center;
    border-radius: 20px;
    border: none;
    box-shadow: rgba(96, 96, 96, 0.35) 0px 2px 15px;


}

textarea {
    display: block;
    height: 150px;
    width: 95%;
    padding: 10px;
    border: 2px solid hsl(0, 1%, 53%);
    border-radius: 10px;
    margin: 10px;
    border: none;
    box-shadow: rgba(96, 96, 96, 0.35) 0px 2px 15px;
}



label {
    color: black;
    font-size: 20px;
    padding: 20px;
    align-items: center;
}



button {
    float: right;
    background: #1c61b5;
    padding: 13px 10px;
    width: 95%;
    color: #fff;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    margin-right: 5px;
}


button:hover {
    cursor: pointer;

}