* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}
:root{
    --main-bg-color: #151515;
    --second-bg-color: #42bbfd;
    --hover-bg-color : #424242;
    --shadow-color : #b6b6b6;
}


body {
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    height: 100vh; /* Hauteur de la fenêtre du navigateur */

}

header {
    background-color: var(--main-bg-color);
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
    border-bottom: solid var(--shadow-color);
    position: relative;
}

/* Style pour le logo à gauche du header */
.logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
}

/* Style pour la barre de recherche au milieu du header */
.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 50px;
    margin-right: 10px;
    width: 250px;
}

/*
.search-bar button {
    background-color:var(--second-bg-color) ;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
 */

/* Style pour "NOM" tout à droite du header */
.btn {
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}

nav {
    background-color: var(--main-bg-color);
    color: #fff;
    padding: 10px 0;
    width: 25%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: solid var(--shadow-color);
}

.menu-item {
    display: flex;
    align-items: center; /* Aligner les icônes et les boutons verticalement */
    padding: 20px 20px; /* Ajuster l'espacement entre les icônes et les boutons */
    border-radius: 50px;


}

.menu-item:hover{
    background-color: var(--hover-bg-color);
    transition: 0.5s;
}
.menu-item:hover i{
    color: var(--second-bg-color);
    transition: 0.5s;
    font-size: 25px;
}

.menu-item i {
    margin-right: 10px; /* Espacement entre l'icône et le bouton */
}

.btn-menu {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 50px;
}


#post-button {
    color: #fff;
    border: 3px solid var(--second-bg-color);
    background-image: -webkit-linear-gradient(30deg, var(--second-bg-color) 50%, transparent 50%);
    background-image: linear-gradient(30deg, var(--second-bg-color) 50%, transparent 50%);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 0%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
    margin-top: 20px;
    padding: 20px;
}
#post-button:hover {
    background-position: 100%;
    color: var(--second-bg-color);
    cursor: pointer;
}

/*------PAGE DE CONTACT------*/

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Utilise la hauteur de la fenêtre pour centrer verticalement */
}

.form-title{
    color: #ffffff;
}

.container input,
.container textarea {
    height: 25px;
    width: 250px;
    margin: 10px 0; /* Ajoute une marge de 10 pixels en haut et en bas */
    border-radius: 5px;
}

.container textarea
{
    height: 150px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Utilise la hauteur de la fenêtre pour centrer verticalement */
}

.form-group {
    margin-bottom: 10px; /* Ajoute de l'espace entre les groupes de formulaire */
    text-align: center; /* Centre les éléments horizontalement dans chaque groupe */
}

#submit-btn{
    cursor: pointer;
    border-radius: 50px;
}


/*---------------------------*/


/* Style pour la fenêtre modale */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
}

.modal-content {
    background-color: var(--main-bg-color);
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Style pour le bouton de fermeture de la fenêtre modale */
.close {
    position: absolute;
    top : 250px;
    right: 425px;
    font-size: 25px;
    cursor: pointer;
    color: #ffffff;
}

/* Style pour la zone de texte du post */
#post-content {
    width: 100%;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

/* Style pour le bouton "Créer un post" */
#create-post-button {
    background-color: var(--second-bg-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;


}

.submit-button{
    border-radius: 50px;
    cursor: pointer;
    padding: 5px;
}

.style-post-label{
    color: #ffffff;
}

/* Styles pour aligner les input et leurs labels en colonne */
.style-post-label {
    display: block; /* Afficher les labels en bloc (une ligne par label) */
    margin-bottom: 10px; /* Ajouter une marge en bas de chaque label */
}

.input-style {
    width: 50%; /* Faire en sorte que les input prennent la largeur complète du conteneur */
    padding: 5px; /* Ajouter un peu de marge intérieure pour un meilleur espacement */
    margin-bottom: 10px; /* Ajouter une marge en bas de chaque input */
}

/* Style pour le bouton submit */
.submit-button {
    display: block; /* Afficher le bouton en bloc (une ligne) */
    margin-top: 10px; /* Ajouter une marge en haut du bouton */
}

/*------Affichage Post------/*

 */
/* Ajoutez ce style pour centrer la zone des posts */
#post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: auto;
    width: 50%; /* Vous pouvez ajuster la largeur selon vos préférences */
    margin-top: 20px; /* Ajoutez un espace en haut */
}




